In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
#!pip3 install matplotlib

### Load 'titanic_train.csv' CSV file and save last 5 rows in Excel format

In [8]:
folder_path = './files_pandas_21_01_2017/'
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'))
data[-5:].to_excel(os.path.join(folder_path, 'titanic_train_last_5ft.xlsx'))

### Load Excel file from previous exercise and save it again with only first four columns

In [11]:
data2 = pd.read_excel(os.path.join(folder_path, 'titanic_train_last_5ft.xlsx'))
data2.iloc[:,:4].to_excel(os.path.join(folder_path, 'titanic_train_first4coulmns.xlsx'))

### Test how loc and iloc works (be creative :) )

In [34]:
data3 = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'))
data4 = data3.iloc[:20]
data4.describe()
data4['Survived'].value_counts()
data4.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### Załaduj plik csv z `titanic_train.csv` z folderu `files_pandas_21_01_2017`

#### Sprawdź pierwsze wiersze

#### Policz wystąpienia wartości zmiennej survived

#### Sprawdź typy danych

# Wróćmy do wykładu - Zmiana typów danych w czasie odczytu

## Exercises

### Load 'titanic_train.csv' file, with category type for all columns that are compatible with this type.

### Fill NaN values in Age column with mean value of this column.

### Fill NaN values in Embarked with most common location.

### Create 3 Series with different indexes that overlap a bit (i.e. 1-10, 5-15, 10-20). Create DataFrame from them and see what happens.

### Display passengers with Age above 50

### Display passengers that Embarked at location S and are female

### Display passengers that paid for ticket more than 50 and are not in first class

### Display all passengers with Names that contain 'Johnson' (it's a surname)

# Dodatkowe ćwiczenia

Korzystając z pliku `matches.csv` zawierającego dane o rozgrywkach piłkarskich:

1. Znajdź wszystkie mecze pomiędzy dwoma wybranymi drużynami w latach 2010-2015.\
2. Znajdź 10 meczów z największą różnicą bramek.
3. Policz liczbę zdobytych i straconych bramek na sezon dla wybranej drużyny. Narysuj wykres obrazujący uzyskane wyniki.
4. Policz średnią liczbę bramek przypadającą na jeden mecz w każdej lidze. Narysuj wykres obrazujący uzyskane wyniki.